@import "abstract/constant";
@import "abstract/mixins";

// Base
@import "base/base";
@import "base/button";
@import "base/hamburger";
@import "base/overlay";
@import "base/visually-hidden";

// Component logo for footer and header
@import "component/logo";

// Layouts
@import "layouts/container";
@import "layouts/footer";
@import "layouts/header";

// Components
@import "component/about";
@import "component/amount";
@import "component/feed-friend";
@import "component/how-to-feed";
@import "component/main-nav";
@import "component/pets";
@import "component/pet";
@import "component/reviews";
@import "component/review";
@import "component/social";
@import "component/watch-online";

// Pages
@import "pages/donate";

// Base carousel overwrite pets styles
@import "base/carousel";