$color-primary:#FE9013;
$color-text: #333B41;
$color-background: rgba(253, 253, 255, 0.52);
$color-background-additional: #F5F7F6;
$color-hover: #E47209;
$color-active: #4B9200;
$color-disabled: #767474;
$color-footer: #111115;

$color-yellow: #FFEE2E;

$gradient-primary: linear-gradient(113.96deg, #F9804B 1.49%, $color-primary 101.44%);
$gradient-additional: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
$gradient-border: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

$content-width: 1160px;
$desktop-width: 1440px;
$desktop-small-width: 980px;
$tablet-width: 600px;
$mobile-width: 320px;