.amount {
  legend {
    margin-bottom: 17px;
  }
}

.amount__slider {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  position: relative;

  width: 100%;

  margin: 0;
  margin-bottom: 98px;
  padding: 2px 25px;
  padding-right: 35px;

  list-style: none;
  background-color: #404950;

  &::before {
    content: "";

    position: absolute;
    top: 45%;
    left: 25px;

    width: calc(100% - 50px);
    height: 2px;

    background: #72828E;
  }
}

.amount__item {
  position: relative;

  label {
    position: absolute;
    top: 37px;
    left: -23px;

    @include font-add($size: 26px, $height: 140%, $weight: 500);
  }

  &::before {
    content: "";

    position: absolute;
    top: calc(50% - 5px);

    display: block;
    width: 10px;
    height: 10px;

    background: $color-yellow;
    border-radius: 50%;
  }

  input[type="radio"] {
    position: relative;
    margin: 0;
    // opacity: 0;
    height: 0;
    width: 0;

    &::before, 
    &::after {
      content: "";

      box-sizing: border-box;

      position: absolute;
      top: -25px;
      left: -15px;

      width: 60px;
      height: 60px;

      background: transparent;
      border-radius: 50%;
    }
  }

  input[type="radio"]:checked {
    & + label {
      color: $color-primary;
    }

    &::before {
      top: -17px;
      left: -7px;

      width: 24px;
      height: 24px;

      border: 2px solid $color-primary;
    }

    &::after {
      width: 40px;
      height: 40px;

      border: 2px solid $color-primary;
    }
  }
}