.donate-page {

  background: $gradient-primary;
  .header-image {
    height: 390px;

    background-image: url("assets/images/donate-page__watch-online.png");
    // background-size: auto 390px;
  }
}